/* html {
    height: 100%;
} */

body {
    background-image: linear-gradient(62deg , #8EC5FC , #E0C3FC);  
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    margin-bottom: 25px;
}


nav {
    margin-top: 30px;
    display: flex;
    align-items: center;
}


.logo {
    display: inline-block;
    height: 80px;
    width: 70px;
}

.brandHolder {
    display: flex;
    justify-content: start;
    align-items: center;
}

/* Aligns Nav items in the center */ 
.positionFix {
    display: flex;
    align-items: center;
}

/* Nav buttons */

li .btn-outline-dark {
    padding: 10px;
    margin-right: 15px;  
}

.p-size {
    font-size: 1.5rem;
}


.filters {
    filter:contrast(120%);
  }


.centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#padFix {
    margin-left: 9px;
    margin-top: 15px;
}

#newsPad {
    margin-top: 50px;
}

#testimony {
    border: 1px solid black;
}

.buttons {
    padding:5px ;
}

.carousel-inner > .item {
    position: relative;
    max-height: 600px;
}
.carousel-caption {
    top: 78%;
    transform: translateY(-50%);
}

.bgOpacity {
    background-color:rgba(255, 255, 255, 0.363) ;
}

.zoom {
    padding: 50px;
    transition: transform .2s;
    margin: 0 auto;
  }
  
.zoom:hover {
    transform: scale(1.1); 
}

img {
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.13);
}
